@import '/Users/kevin/code/flat-ui/scss/colors.scss';

@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);

.deck-container {
    font-family: 'Oxygen', 'Ubuntu', 'Helvetica Neue', Helvetica, arial, sans-serif;
    background: #fff;

    li, p {
        font-size: 2rem;
    }

    .slide {
        background: #fff;

        h1 {
            color: $alternate-text-color;
            font-size: 5rem;

            a, a:visited {
                color: $alternate-text-color;

                &:hover {
                    text-decoration: none;
                }
            }

        }

        h2 {
            color: $orange;
            border-bottom-color:#ccc;
            font-size: 3.3rem;
        }

        h3 {
            color:#888;
            margin-bottom: 20px;
            font-size: 2.3rem;
        }

        pre {
            border-color:#ccc;
            background-color: $dark-blue;
            border-radius: 10px;
            color: #fff;
        }

        pre, code {
            font-family: Consolas, Menlo, Andale Mono, Monaco, monospace;
            font-size: 1.2em;
        }

        blockquote {
            font-size: 2em;
            font-style: italic;
            padding: 1em 2em;
            color: $alternate-text-color;
            border-left: 5px solid #ccc;

            p {
                margin: 0;
            }

            cite {
                font-size:.5em;
                font-style:normal;
                font-weight:bold;
                color:#888;
            }
        }

        ::-moz-selection {
            background: $dark-blue;
            text-shadow: none;
        }

        ::selection {
            background: $dark-blue;
            text-shadow: none;
        }

        a {
            &, &:hover, &:focus, &:active, &:visited {
                color: $orange;
                text-decoration: none;
            }

            &:hover, &:focus {
                text-decoration:underline;
            }
        }
    }

    > .slide {
        .deck-before, .deck-previous {
            opacity:0.4;

            &:not(.deck-child-current) {
                .deck-before, .deck-previous {
                    opacity:1;
                }
            }
        }

        .deck-child-current {
            opacity:1;
        }
    } 

    .deck-prev-link, .deck-next-link {
        background:#ccc;
        font-family:serif; // sans-serif arrows x-browser fail

        &, &:hover, &:focus, &:active, &:visited {
            color:#fff;
        }

        &:hover, &:focus {
            background:#c00;
            text-decoration:none;
        }
    }

    .deck-status {
        font-size:0.6666em;
    }

    &.deck-menu {
        .slide {
            background:#eee;
        }

        .deck-current, .no-touch & .slide:hover {
            background:#ddf;
        }
    }

    .start-hidden {
        display: none;
    }

    #documentation-reader {
        background: url('/slides/images/birds.jpg') no-repeat center center fixed;

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        $blur: 5px;
        $border: 4px;
        h1, h5 {
            text-shadow: $border 0 $blur white, 0 $border $blur white, - $border 0 $blur white, 0px  (-$border) $blur white;
        }

        #frenzy-link {
            position: absolute;
            bottom: 30px;
            left: 30px;
            a {
                color: black;
            }
        }
    }
}

.deck-container .slide .CodeMirror-gutter {
    background: $dark-blue;
    font-family: Consolas, Menlo, Andale Mono, Monaco, monospace;
    border-right: none;
    display: none;
}

.deck-container .slide .CodeMirror {
    border-radius: 8px;
    padding: 10px;
    font-size: 1.6rem;
    background: $dark-blue;
    font-family: Consolas, Menlo, Andale Mono, Monaco, monospace;

    .cm-keyword, .cm-variable, .cm-variable-2 {
        color: $orange;
    }

    .cm-string, .cm-number {
        color: $turquoise;
    }

    .cm-property, .cm-def, .cm-atom {
        color: $top-color;
    }
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

